/* *
 *公共样式
 */
 *,
 ::before,
 ::after{
     margin: 0;
     padding: 0;
    /*清除点击默认的高亮效果*/
     -webkit-tap-highlight-color: transparent;
    /*以你的border开始计算你的宽度*/
     -webkit-box-sizing: border-box;
 
 }
 
 body{
     font-size: 14px;
     font-family: "Microsoft YaHei",sans-serif;/*第二个是手机的一个默认的字体*/
     color: #000;
 }
 
 a{
     text-decoration: none;
     color: #000;
 }
 
 ul{
     list-style: none;
 }
 
 input,textarea{
     border: none;
     resize: none;
     outline: none;/*清除选中效果*/
 
     -webkit-appearance: none;/*清楚浏览器默认的样式*/
 }
 
 /*清除浮动*/
 .clearfix::before,
 .clearfix::after{
     content: ".";
     display: block;
     height: 0;
     line-height: 0;
     visibility: hidden;
     clear: both;
 }
 
 [class^="icon-"]{
     background: url("../imgs/sprites.png") no-repeat;
     background-size: 200px 200px;
 }

 /* 头部样式 */
 #jd-header{
    width: 100%;
    height: 30px;
    position: relative;
}
#jd-header  .icon-back{
    width: 20px;
    height: 20px;
    background-position: -20px 0;
    position: absolute;
    top: 5px;
    left: 8px;
    display: inline-block;
}
#jd-header > form{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
}
#jd-header > form >.icon-search{
    width: 20px;
    height: 20px;
    background-position: -82px 0;
    position: absolute;
    top: 7px;
    left: 42px;
    display: inline-block;
   
}
#jd-header > form > input{
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 34px
}
#jd-header img{
    display: inline-block;
    width: 16px;
    height: 5px;
    position: absolute;
    top: 10px;
    right: 16px;
}